version: '3.8'

services:
  db:
    image: 'postgres:16'
    container_name: yyenza-pg
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=yyenza-pg
    ports:
      - '5432:5432'
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: yyenza-nest
    depends_on:
      - db
    environment:
      - PLAID_CLIENT_ID=${PLAID_CLIENT_ID}
      - PLAID_SECRET=${PLAID_SECRET}
      - PLAID_ENV=${PLAID_ENV}
      - PLAID_PRODUCTS=${PLAID_PRODUCTS}
      - PLAID_COUNTRY_CODES=${PLAID_COUNTRY_CODES}
      - PLAID_REDIRECT_URI=${PLAID_REDIRECT_URI}
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
    ports:
      - '3000:3000'
    volumes: 
      - .:/app
      - /app/node_modules
    command: [sh, -c, "npx prisma generate && npx prisma migrate dev && npm run start:dev"]

volumes:
  postgres_data: